body{
    font-family:Arial,sans-serif;
    background-color: #73b1cc;
    text-align: Center;
    padding-top: 100px;
}
.container{
    background-color: rgb(153, 177, 45);
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 40px;
}
a{display: inline-block;
margin-top: 20px ;
text-decoration: none;
color: #73b1cc;
font-weight: bold;
}
